<!-- 
    Group 55 - Erwin Laird and Amanda Dohring - Project Step 6

    Citation for code adapted from CS340 Node.js Starter App
    Date: 6/12/2023
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
 -->

<!-- main.hbs-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Local Vibes</title>
        <link rel='stylesheet' type='text/css' href='/css/style.css'>
    </head>

    <header>
        <a href="/">
        <img class="myimage" src="/images/localvibe.png"> </a>
            <main id="navigation-placeholder">
            <h2 class="page-heading">
            <a href="/users">Users</a>
            <a href="/cities">Cities</a>
            <a href="/users_cities">Users_Cities</a>
            <a href="/reviews">Reviews</a>
            <a href="/ratings">Ratings</a>
            <a href="/categories">Categories</a>
            </h2>
            </main>
    </header>
    
    <body>
        {{{body}}}
    </body>
</html>
