<!-- 
    Group 55 - Erwin Laird and Amanda Dohring - Project Step 6

    Citation for code adapted from CS340 Node.js Starter App
    Date: 6/12/2023
    Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main
 -->
 
<!-- index.hbs -->
<section>


    <br>
    <div class="myimage">
        <img src="images/city.jpg"><br><br>
        <p>Welcome to Local Vibes!</p> 
        <p>The vibiest city ratings web application for constant city movers</p>
    </div>

</section>
<footer> <p>&copy; 2023 Erwin Laird & Amanda Dohring</p> </footer>